<nav>
    <ul class="alpha-font">
        <a href="/home/{{slug}}"><li>home</li></a>
        <a href="/home/{{slug}}/profile"><li>profile</li></a>
    	<form method="POST" action="/logout" class="logoutform">
    		<button class="logoutbtn">logout</button>
    	</form>
    </ul>
</nav>

<div class="container">

	<p class="alpha-font title">Home</p>
	<p class="beta-font subtitle">"{{quotes}}"</p>
	
	<form method="POST" action="" onsubmit="return noEmpty()">
		<input type="text" pattern="^\S+$" placeholder="No Spaces" class="beta-font inputs" name="group" maxlength="10"> <button class="beta-font btn" type="submit">Add Category</button>
	</form>

	<div class="group-container">
		<div class="beta-font groups">

				{{#each todos}}

						<div class = "group-item beta-font scaling">
							<a href="/home/{{user}}/{{slug2}}">{{name}}</a>
						</div>

				{{/each}}

		</div>
	</div>

</div>