<nav>
    <ul class="alpha-font">
        <a href="/home/{{slug}}"><li>home</li></a>
        <a href="/home/{{slug}}/profile"><li>profile</li></a>
    	<form method="POST" action="/logout" class="logoutform">
    		<button class="logoutbtn">logout</button>
    	</form>
    </ul>
</nav>

<div class="container">

	<p class="alpha-font title">Profile</p>

	<div class="profile-container">
		<div class="profile prof-pic">
			<div class="profile-image">
				<div id="user-img" style="background-image:url({{userimg}});"></div>
			</div>
			<form method="POST" action="" onsubmit="return noEmpty()">
				<input type="text" class="inputs" name="imgurl">
				<button class="alpha-font btn">Add Img URL</button>
			</form>
		</div>
		<div class="profile prof-data">
			<p id="p-main">Hello {{slug}}!</p><hr><br>
			<p>Number of Categories</p> 
			<p>{{cat}}</p><br>
			<p>Number of Tasks</p>
			<p>{{tk}}</p>
		</div>
	</div>

</div>